---
apiVersion: v1
kind: Service
metadata:
  name: jmeter-master-svc
  labels:
    jmeter_mode: master
spec:
  clusterIP: None
  ports:
    - port: 1100
      name: jmeter
      targetPort: 1100
    - port: 50001
      name: rmi
      targetPort: 50001
    - port: 4446
      name: stoptest
      targetPort: 4446
  selector:
    jmeter_mode: master